<a href="https://colab.research.google.com/github/ANAGHA-SREYAS/entri_dsml_tasks/blob/main/Anagha_vp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to sum all the items in a list.

In [ ]:
l=[1,2,3,4]
sum=0
for i in l:
  sum+=i
print(sum)

10

2. Write a Python program to get the largest number from a list.

In [ ]:
l=[10,23,12,34,44]
l.sort()
print("largest number is",l[-1])

largest number is 44

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
```

In [ ]:
l=['abc','xyz','aba','1221']
a=[]
for i in l:
  if len(i)>=2 and i[0]==i[-1]:
    a.append(i)
print(len(a))

2

4. Write a Python program to remove duplicates from a list.

In [ ]:
fruits=["apple","mango","orange","apple"]
list(set(fruits))

['orange', 'apple', 'mango']

5. Write a Python program to check if a list is empty or not.

In [ ]:
a=[]
if len(a)==0:
  print("the given list is empty")
else:
  print("the given list is not empty")

the given list is empty

6. Write a Python program to filter the list if the length of the character is < 4

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']
```

In [ ]:
lst=['abc','xyz','aba','1221']
new_lst=[i for i in lst if len(i)<4]
new_lst

['abc', 'xyz', 'aba']

7.Write a Python program to find the second largest number in a list.

In [ ]:
l=[1,3,5,6,8,4]
l.sort()
print("the second largest number is",l[-2])

the second largest number is 6

8. Write a Python program to reverse a list at a specific location.

In [ ]:
l=[10,20,30,40,50,60,70,80]
l1=l[:3]
l2=l[3:]
l2.reverse()
l1+l2

[10, 20, 30, 80, 70, 60, 50, 40]

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [ ]:
def palindrome(lst):
  if  lst==lst[::-1]:
    print("true")
  else:
    print("false")

lst=[1,2,3,2,1]
palindrome(lst)

true

10. Write a Python a program to find the union and intersection of two lists.

In [ ]:
a={1,2,3,4,5}
b={4,5,6,7,8}
def union(a,b):
  a|b
  return a|b
print("union of a,b is",union(a,b))

def intersection(a,b):
  a&b
  return a&b
print("intersection of a,b is",intersection(a,b))

union of a,b is {1, 2, 3, 4, 5, 6, 7, 8}
intersection of a,b is {4, 5}

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
d={"apple":3,"orange":2,"mango":1,"grape":4}
def sort_value(item):
  return item[1]
sorted_d=dict(sorted(d.items(),key=sort_value))
print(sorted_d)

{'mango': 1, 'orange': 2, 'apple': 3, 'grape': 4}

12. Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
a={"apple":5,"orange":8,"mango":1,"grape":2}
b=a.items()
def check_key(key):
  for k,v in b:
    if key==k:
      print("already excisted")
key="apple"
check_key(key)

already excisted

13.Write a Python program to sum all the values in a dictionary.

In [ ]:
a={"apple":5,"orange":8,"mango":1,"grape":2}
b=a.items()
value=[]
for k,v in b:
  value.append(v)
sum=0
for i in value:
    sum+=i
print(sum)

16

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

```
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}
```

In [ ]:
def square_dictionary(a):
  d={}
  if a<10:
    for i in range(1,a+1):
      d[i]=i*i
    return d
  else:
    print("input number should be less than 10")
    return None
square_dictionary(6)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

15.Write a Python program to sort a given dictionary by key.

In [ ]:
data={3:'a',4:'b',2:'c',1:'d'}
sorted_data={}
sorted_keys=sorted(data.keys())
for i in sorted_keys:
  sorted_data[i]=data[i]
print(sorted_data)

{1: 'd', 2: 'c', 3: 'a', 4: 'b'}

16.  Write a Python program to create a dictionary from a string.

```
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

```

In [ ]:
def str_dict(a):
  d={}
  for i in a:
    if i in d:
      d[i] +=1
    else:
      d[i]=1
  return d
a="learnpython"
str_dict(a)

{'l': 1,
 'e': 1,
 'a': 1,
 'r': 1,
 'n': 2,
 'p': 1,
 'y': 1,
 't': 1,
 'h': 1,
 'o': 1}

17. Write a Python program to get the top three items in a shop.

```
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:
item4 55
item1 45.5
item3 41.3
```

In [ ]:
data={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
values=data.values()
values=list(values)
values.sort()
a=values[-3:]
a.reverse
for k,v in data.items():
  if v in a:
    print(k,v)

item1 45.5
item3 41.3
item4 55